*{
    padding: 0;
    margin: 10px;
}

.blue{
    background-color:blue;
    color:white;
    text-align: center;
}
.underline{
    text-decoration:underline;
    font-style: italic;
}
.italic{
    font-style:italic;
}
.bold{
    font-weight:bold;
}

.number{
    margin-left: 80px;
}
.underline2{
    text-decoration:underline;
}
.second1{
     font-weight: bold;
     text-decoration:underline;
}
.boldparag{
    font-weight:bold;
    text-decoration:underline;
}
.redunder{
    color:red;
    text-decoration:underline;
}
.mark{
    background-color: yellow; 
}
.page{
    margin-top:100px;
text-align: right;
}
.EDIT{
    text-align: left;
    font-weight: bold;
}