*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    position: relative;
    border: 2px solid #000;
    width: 300px;
    height: 200px;
    margin: 10px;
}

.inner{
    border: 2px solid red;
    width: 150px;
    height: 100px;
    position: relative;
    left: 12px;
    bottom: 190px;
    color: red;
}

.position{
    border: 1px solid blue;
    color: blue;
    width: 100px ;
    height: 200px;
    margin: 16px 0;
    position: absolute;
    bottom: 450px;
    left: 14px;
}